:root {
	--drawerWidth: 190px;
}
a {
	all: unset;
	cursor: pointer;
}
.flex {
	display: flex;
}
.toolbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0;
	min-height: 64px;
}
.paper {
	min-width: 25vw;
	margin: 1rem;
}
.profile {
	display: flex;
	justify-content: space-around;
	height: 100%;
	padding: 7vmin;
}
.profile-container {
	max-width: 900px;
	margin: 1rem auto;
}
.space-between {
	display: flex;
	justify-content: space-between;
}
.space-evenly {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}
.pointer {
	cursor: pointer;
}
.flex-column-evenly {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.center {
	align-items: center;
}
.img-profile {
	max-width: 25vw;
	margin: 1rem;
	margin-left: 0;
	object-fit: contain;
}
.img-small {
	max-width: 10rem;
	margin: 1rem;
	object-fit: contain;
}
.img-home {
	width: 90vw;
	object-fit: contain;
}
.opponent-img {
	max-width: 6rem;
	margin: 1rem;
	object-fit: contain;
}
.absolute {
	position: absolute;
}
.container {
	margin: 2vh auto;
	height: 80vmin;
	width: 80vmin;
	box-sizing: initial;
	border: 2px solid black;
}
.fullW {
	width: 100%;
}
.text-modal {
	padding: 5% 10%;
	text-align: justify;
	vertical-align: middle;
}
.text-modal h2 {
	margin-bottom: 0;
	text-align: center;
}
.text-modal h4 {
	margin-top: 0;
	text-align: center;
}
.unset {
	all: unset;
}
.mobile-menu {
	color: black;
	display: flex;
	margin: 0.1rem 1rem;
}
#title-img {
	height: 3rem;
	margin-right: 1rem;
}
#title-name {
	user-select: none;
	color: black;
}
.link-like {
	color: blue;
	cursor: pointer;
}
.vw80 {
	max-width: 80vw;
	margin: 1rem;
}
.win {
	color: goldenrod;
}
.draw {
	color: blue;
}
.lose {
	color: darkred;
}
.red-main {
	color: rgb(199, 0, 0);
}
.img-100 {
	object-fit: cover;
	margin: 0 auto;
	width: 100%;
}
.card {
	max-width: 30rem;
	margin: 10% auto 1%;
}
.display-none {
	display: none;
}
.delete {
	margin: 1% 10%;
}
.input-width {
	min-width: 9rem;
}
.justify-center {
	text-align: justify;
	text-align-last: center;
	margin: 0 1rem;
	margin-top: 1rem;
}
.strong {
	font-weight: bold;
	font-style: 1.2rem;
}
.margin-top-results {
	margin-top: 2.3rem;
}
.make-space {
	width: 5rem;
}
